<div id="<%= dom_id holding %>">
  <p>
    <strong>Ticker:</strong>
    <%= holding.ticker %>
  </p>

  <p>
    <strong>Shares:</strong>
    <%= holding.shares %>
  </p>

  <p>
    <strong>Portfolio:</strong>
    <%= holding.portfolio_id %>
  </p>

</div>
