<% @portfolios.each do |portfolio| %>
  <div class="col-md-4 mb-4">
    <div class="card portfolio-card rounded">
      <div class="card-header align-content-center bg-info-subtle p-3">
        <h5 class="fw-semibold fs-5 mb-0">
          <%= portfolio.name %>
        </h5>
      </div>
      <div class="card-body p-4">
        <div class="chart-container">
          chart
        </div>
        <div class="d-flex justify-content-between mb-2">
          <span class="text-muted">Total Value:</span>
          <span class="fw-bold">$52,680.75</span>
        </div>
        <div class="d-flex justify-content-between mb-2">
          <span class="text-muted">Annual Dividend:</span>
          <span class="fw-bold">$52,680.75</span>
        </div>
        <div class="d-flex justify-content-between mb-2">
          <span class="text-muted">Yield on Cost:</span>
          <span class="fw-bold">$52,680.75</span>
        </div>
        <div class="d-flex justify-content-between mb-2">
          <span class="text-muted">Total Value:</span>
          <span class="fw-bold">3.8%</span>
        </div>
        <div class="d-flex justify-content-between mt-3">
          <button>1</button>
          <button>2</button>
          <button>3</button>
        </div>
      </div>
    </div>
  </div>
<% end %>