<div class="container-xxl mt-5">
  <div class=" d-flex justify-content-between">
    <h2>
      Your Dividend Portfolios
    </h2>
    <%= link_to "Create New portfolio", new_portfolio_path, class: "btn btn-primary btn-lg btn-red" %>
  </div>
  <div class="mt-5">
    <div class="row">
      <%= render "portfolios/card" %>
      <div class="col-md-4 mb-4">
        card
      </div>
      <div class="col-md-4 mb-4">
        card
      </div>
      <div class="col-md-4 mb-4">
        card
      </div>
      <div class="col-md-4 mb-4">
        card
      </div>
    </div>
  </div>
</div>
