<div class="container-xxl mt-4">
  <h1 class="mb-4">
    Welcome to XDividends 
  </h1>
  <div class="alert alert-info login-prompt">
    <h4 class="alert_heading">
      Track Multiple Portfolios!
    </h4>
    <p>
      With XDividends, you can manage and track multiple dividend portfolios. Create separate portfolios for different investment strategies, goals, or accounts.
    </p>
    <hr>
    <p class="mb-0">
      To view detailed statistics and manage your portfolios, please 
      <%= link_to "log in", new_user_session_path, { :remote => true, 'data-bs-toggle' =>  "modal", 'data-bs-target' => '#loginModal', class: "alert-link" }%>
      or 
      <%= link_to "sign up", new_user_registration_path, class: "alert-link" %>
      for a free account.
    </p>
  </div>
</div>
